/* Add a black background color to the top navigation */
html, body {
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing:2px;
}

a {
  text-decoration:none;
  color:White;
}

.left-menu {
  z-index: 1; /* Stay on top */
  background-color: #111; /* Black*/
  height:100%;
  width:20%;
  color:white;
}

.left-menu .me {
  padding:30px;
  font-size:10px;
}

.left-menu .me p {
  text-transform:uppercase;
}
.left-menu .navigation {
  text-align:center;

}


.left-menu .navigation a {
  text-transform:uppercase;
  font-size:10px;
  transition: all 0.3s; 
  color:grey;
}
.left-menu .navigation a:hover {
  letter-spacing:6px;
  font-size:11px;
  font-weight:900;
  color:white;
  text-shadow: 1px 1px 8px white;

}

.links {
  text-align:center;
  padding-top:30px;
}

.links .desc {
  text-transform:uppercase;
}

.links .link {
  text-transform:uppercase;
  font-size:10px; 
}
